$powder: #EADADE;
$light-pink: #EAC5CE;
$fleshy: #E5A191;
$lip-like: #9B5349;

$creme: #F4E5D7;
$apricot: #EFAC7F;
$peach: #EF8A5E;
$tangerine: #E5744C;

$lagoon: #319B86;
$emerald: #1B7768;
$deep-forest: #12493E;
$dark-forest: #102318;

$powder-blue: #9FBCD3;
$steel-blue: #637F96;
$petrol-grey #354B59;
$dark-petrol: #192B35;
